.about-section-container{
    margin-top: 20rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-section-text-container {
    flex:auto;
    justify-content: center;
    display: flex;
    flex-direction:column;

}
.about-section-image-container{
    position:inherit;
    z-index: -2;
}