.home-banner-container {
    position: relative;
    display: flex;
    padding-top: 3rem;
}
.home-text-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home-bannerImage-container{
    position: absolute;
    top: -6rem;
    right: -10.6rem;
    z-index: -2;
    max-width: 500px;
}
.home-image-section {
    max-width: 600px;
    flex: 1;
}
.banner-principal {
    position: absolute;
    top: 10rem; 
    right: 2rem;
    z-index: -2;
    max-width: 500px;
}
.myPixel {
    position: absolute;
    top: 6rem; 
    right: 1rem;
    z-index: -1;
    max-width: 500px;
}
