.opsfriends-container{
    display: flex;
    margin-top : 5rem;
}
.opsfriends-banner-container{
    position: relative;
    padding-top: 3rem;
}

.piperman{
    left: 80rem;
    margin-top: -150px;
    z-index: -2;
    max-width: 300px;
}
.sorvete-pixel{
    z-index: -2;
    margin-top: 20;
    margin-left: 2rem;
    max-width: 300px;
    
}

.box-head{
    position: absolute;
    display: flex;
    left: 10rem;
}

@media (max-width: 767px) { 
    .piperman,
    .sorvete-pixel,
    .box-head {
      display: none;
    }
}