* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kunfi", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}
a {
  cursor: pointer;
}

.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}
.navbar-menu-container {
  display: none;
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}
.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: black;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
.primary-button:hover {
  background-color: #c4bcbc;
  color: #000;
}
.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #292525;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary-button:hover {
  background-color: #c4bcbc;
  color: #000;
}

.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;
  max-width: 600px;
}

.primary-subheading {
  font-weight: 700;
  color: #9400d3;
  font-size: 1.15rem;
}

.primary-text {
  font-size: clamp(2rem, 3vw, 2rem);
  max-width: 500px;
  color: #292525;
  margin: 1.5rem 0rem;
}
